<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listeners.TestListener"></listener>
<listener class-name="listeners.RetryListener"></listener>
</listeners>
<test name="Test suite">
<classes>
<class name="tests.BuyPerfumeTest"/>
</classes>
</test>
</suite>